
{% extends "base.html" %}

{% block head %}
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/about.css")}}">
    

{% endblock %}

{% block main %}
<div class="bg">
    <br><br><br><br><br>
    <h1>Why shop with us?</h1>
    <h3>We offer the NBA's Golden State Warriors selection equipment, equipment from top 
            brands, all in this convenient place. We are passionate about achieving our goal 
            of getting the Golden State Warriors fans around the world to get their favorite
            team equipment. We not only provide a large number of officially licensed products
            for top brands, but also hope that more people will be enthusiastic about this team.</h3>
    <h1>Contacting Fan Services</h1>
    <h3>Have questions? Send us an Email wongtinlui123@gmail.com or dial 60583502
        and there will be one of our Fan Service Advocates will respond back to you!</h3>

    <br><br><br><br><br><br><br><br>

</div>


{% endblock %}