{% extends "adbase.html" %}

{% block head %}
    <title>All User</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/adminlogin.css")}}">

{% endblock %}

{% block main %}
   <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default my-4">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>All User List
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Email</th>
                                            <th>User Name</th>
                                            <th>Password</th>
                                            <th>Address</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in alluser %}
                                        <tr>
                                            <td>{{user.userid}}</td>
                                            <td>{{user.useremail}}</td>
                                            <td>{{user.username}}</td>
                                            <td>********</td>
                                            <td>{{user.useraddress}}</td>
                                        </tr>
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}