
{% extends "base.html" %}

{% block head %}
    <title>Order</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/store.css")}}">

{% endblock %}

{% block main %}
   <div class="content">
        <div class="row">
            <div class="col-lg-3 my-4">
                <div class="list-group">
                    <a href="{{ url_for("store") }}" class="list-group-item">Shore</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9">
                <div class="row">
                    {% for product in product %}
                    <div class="col-lg-6">
                        <div class="card mt-4">
                            <img class="card-img-top img-fluid"
                                    src="static/image/product/{{product.ptype}}/{{product.plink}}" alt="">
                        </div>
                    </div>
                    <!-- /.card -->
                    <div class="col-lg-6">
                        <div class="card card-outline-secondary my-4">
                            <div class="card-header">
                                Order Details
                            </div>
                            <div class="card-body">
                                {% from "formhelpers.html" import render_field %}
                                <form method="POST" action="/detail?ordernow={{product.pid}}">
                                    <div class="form-group">
                                        {{render_field(form.name, class_="form-control")}}
                                    </div>
                                    <div class="form-group">
                                        {{render_field(form.mobile_num, class_="form-control")}}
                                    </div>
    
                                    <div class="form-group">
                                        {{render_field(form.quantity, class_="form-control")}}
                                    </div>
    
                                    <div class="form-group">
                                        {{render_field(form.order_place, class_="form-control")}}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Confirm Order</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
   </div>

{% endblock %}